body {
	width: 9in ;
	height: 11.5in;
	margin: auto ;
}

h1 {
  background: darkseagreen;
  color: white;
}

h2 {
  margin:0;
  padding:0;
  color: seagreen;
}

h3 {
  margin:0;
  padding:0;
}

h4 {
  margin:0;
  padding:0;
  color: gray;
}

b {
  font-style: bold;
}
